<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles/about.css" />
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />
</head>

<body>
    <h1>ڕەگەکۆد</h1>
    <p>ڕەگەکۆد پێکھاتووی کۆمەڵە کەسێکە کە بەیەکەوە و ھاوشانی یەک کاردەکەین بۆ تەواوکردنی کاری کڕیارەکانمان بە خێراترین کات و باشترین کوالێتی.</p>
    <div id="body">
        <div class="all">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/AboutUs/Eisa.jpg" class="images" />
                </div>
                <h3>عیسا محمد حسن</h3>
                <h6>گەشەپێدەری موبایل ئەپڵیکەیشن</h6>
                <h5>لێھاتووییەکان</h5>
                <div class="skills">
                    <span>Dart</span>
                    <span>3D Character Design</span>
                    <span>Motion Design</span>
                </div>
            </div>
            <div class="inHover">
                <div class="iconContainer"><a href="https://www.linkedin.com/in/esa-muhammad-51178a1b2"><img src="assets/icons/linkedin.svg" /></a></div>
                <div class="iconContainer"><a href="https://web.facebook.com/profile.php?id=100009202117969"><img src="assets/icons/facebook.svg" /></a></div>
                <div class="iconContainer"><a href="mailto:isa.00220135@gmail.com"><img src="assets/icons/google.svg" /></a></div>
            </div>

        </div>

        <div class="all">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/AboutUs/Hedi.jpg" class="images" />
                </div>
                <h3>ھێدی محمد شریف</h3>
                <h6>گەشەپێدەری ڕووکارە-وێب</h6>
                <h5>لێھاتووییەکان</h5>
                <div class="skills">
                    <span>Java Programming</span>
                    <span>UI/UX Design</span>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>Javascript</span>
                </div>
            </div>
            <div class="inHover">
                <div class="iconContainer"><a href="https://www.linkedin.com/in/hedi-muhamad-9b143b1a1"><img src="assets/icons/linkedin.svg" /></a></div>
                <div class="iconContainer"><a href="https://www.facebook.com/hedi.m.sharif"><img src="assets/icons/facebook.svg" /></a></div>
                <div class="iconContainer"><a href="mailto: hedymuhamad461@gmail.com"><img src="assets/icons/google.svg" /></a></div>
            </div>
        </div>

        <div class="all">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/AboutUs/Hasty.jpg" class="images" />
                </div>
                <h3>ھەستی باوەدین دەروێش</h3>
                <h6>گەشەپێدەری پشتە-وێب</h6>
                <h5>لێھاتووییەکان</h5>
                <div class="skills">
                    <span>PHP</span>
                    <span>Node JS</span>
                    <span>Mongo DB</span>
                    <span>Online Business</span>
                </div>
            </div>
            <div class="inHover">
                <div class="iconContainer"><a href=""><img src="assets/icons/linkedin.svg" /></a></div>
                <div class="iconContainer"><a href="https://web.facebook.com/shehid.babani"><img src="assets/icons/facebook.svg" /></a></div>
                <div class="iconContainer"><a href="mailto:shehidb.darwish50004@gmail.com"><img src="assets/icons/google.svg" /></a></div>
            </div>

        </div>

        <div class="all">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/AboutUs/Rekan.jpg" class="images" />
                </div>
                <h3>مەتین ھەڵمەت سەڵاحەدین</h3>
                <h6>شارەزای بواری ئاسایشی ئەلکترۆنی</h6>
                <h5>لێھاتووییەکان</h5>
                <div class="skills">
                    <span>Python</span>
                    <span>Bash Shell</span>
                    <span>C Language</span>
                    <span>MySQL</span>
                    <span>Node JS</span>
                </div>
            </div>
            <div class="inHover">
                <div class="iconContainer"><a href=""><img src="assets/icons/linkedin.svg" /></a></div>
                <div class="iconContainer"><a href="https://web.facebook.com/willam.mankonav.5"><img src="assets/icons/facebook.svg" /></a></div>
                <div class="iconContainer"><a href="mailto:reko.yaqub2100@gmail.com"><img src="assets/icons/google.svg" /></a></div>
            </div>

        </div>
    </div>
</body>

</html>