<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles/aboutus.css" />
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
</head>

<body>
    <h1>ڕەگەکۆد</h1>
    <p>ڕەگەکۆد پێکھاتووی کۆمەڵە کەسێکە کە بەیەکەوە و ھاوشانی یەک کاردەکەین بۆ تەواوکردنی کاری کڕیارەکانمان بە خێراترین
        کات و باشترین کوالێتی.</p>
    <div id="body">

        <div class="container">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/imageAssets/Developers/Hedi.jpg" class="images" />
                </div>
                <h2>ھێدی محمد شریف</h2>
                <h5>گەشەپێدەری ڕووکارە-وێب</h5>
                <h4>لێھاتووییەکان</h4>
                <div class="skills">
                    <span>UI/UX Design</span>
                    <span>Java SE</span>
                    <span>Node JS</span>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>Javascript</span>
                </div>
            </div>
            <div class="socials">
                <a href="https://github.com/HediMuhamad" target="_blank" ><div class="social-icons-container"><i class="fab fa-github"      ></i></div></a>
                <a href="https://facebook.com/hedi.m.sharif/" target="_blank" ><div class="social-icons-container"><i class="fab fa-facebook-f"  ></i></div></a>
                <a href="mailto:hedymuhamad481@gmail.com" target="_blank" ><div class="social-icons-container"><i class="fas fa-at"          ></i></div></a>
            </div>
        </div>

        <div class="container">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/imageAssets/Developers/Eisa.jpg" class="images" />
                </div>
                <h2>عیسا محمد حسن</h2>
                <h5>گەشەپێدەری موبایل ئەپڵیکەیشن</h5>
                <h4>لێھاتووییەکان</h4>
                <div class="skills">
                    <span>Dart</span>
                    <span>3D Character Design</span>
                    <span>Motion Design</span>
                </div>
            </div>
            <div class="socials">
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-github"      ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-facebook-f"  ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fas fa-at"          ></i></div></a>
            </div>
        </div>

        <div class="container">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/imageAssets/Developers/Hasty.jpg" class="images" />
                </div>
                <h2>ھەستی باوەدین دەروێش</h2>
                <h5>گەشەپێدەری پشتە-وێب</h5>
                <h4>لێھاتووییەکان</h4>
                <div class="skills">
                    <span>PHP</span>
                    <span>Node JS</span>
                    <span>Mongo DB</span>
                    <span>Online Business</span>
                </div>
            </div>
            <div class="socials">
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-github"      ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-facebook-f"  ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fas fa-at"          ></i></div></a>
            </div>
        </div>

        <div class="container">
            <div class="about">
                <div class="profile-image">
                    <img src="assets/imageAssets/Developers/Elyas.jpg" class="images" />
                </div>
                <h2>زانا کەمال ئەحمەد</h2>
                <h5>شارەزای بواری ئاسایشی ئەلکترۆنی</h5>
                <h4>لێھاتووییەکان</h4>
                <div class="skills">
                    <span>Python</span>
                    <span>Bash Shell</span>
                    <span>C Language</span>
                    <span>MySQL</span>
                    <span>Node JS</span>
                </div>
            </div>
            <div class="socials">
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-github"      ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fab fa-facebook-f"  ></i></div></a>
                <a href="#" target="_blank" ><div class="social-icons-container"><i class="fas fa-at"          ></i></div></a>
            </div>
        </div>
    </div>
</body>
<script>
    const isTouchDevice = () => {
        return (('ontouchstart' in window) ||
            (navigator.maxTouchPoints > 0) ||
            (navigator.msMaxTouchPoints > 0));
    }
    
    var socialIconsContainer=document.getElementsByClassName('social-icons-container');
    var compatibleClass = '';

    if(isTouchDevice()){
        compatibleClass='social-icons-container-touchable';
    }else{
        compatibleClass='social-icons-container-non-touchable';
    }
    
    for(var i=0;i<socialIconsContainer.length;i++){
        socialIconsContainer[i].classList.add(compatibleClass);
    }


</script>

</html>