<!DOCTYPE html>
<html>

<head>
    
	<link rel="stylesheet" type="text/css" href="styles/account.css">
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">	
    <link type="text/css" rel="stylesheet" href="account.css" />
    <title>Login to RootCode</title>
</head>

<body>
    
</body>
<script src="scripts/account.js">
</script>
</html>