
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/ask.css" rel="stylesheet">
    <title>Ask a request</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="assets/images/message.png" class="message">
        </div>
        <div class="form-container">
            <form class="form" action="#" method="POST">
                <h1>داواکاریەکەت پێشکەش بکە:</h1>
                <div class="name">
                    <input type="text" name="name" placeholder="ناو" required>
                </div>
                <div class="email">
                    <input type="email" name="email" placeholder="ھەژماری ئەلکترۆنی" required></div>
                <div class="content">
                    <textarea name="content" placeholder="ناوەڕۆک" required></textarea>
                </div>
                <div class="submit">
                    <button type="submit">پێشکەشکردن</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>