<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">	
	<title>RootCode</title>
</head>
<body>
	<div class="header-div">
		<nav>
			<div class="left-nav">
				<a class="Links" href="account">چوونەژوورەوە</a>
				<a class="Links" href="about">دەربارە</a>
				<a class="Links" href="ask">پێشکەشکردنی داواکاری</a>
			</div>
			<div class="right-nav">
				<a class="brand" href="">ڕەگەکۆد</a>
			</div>
		</nav>
		<div class="welcome">
			<div class="inner-container">
				<p class="brand-name">ڕەگەکۆد</p>
				<p class="welcome-text">خزمەتگوزاری بەرنامەسازی، کار و زانیاریەکانت ئاسانتر بگەیەنە</p>
				<button class="welcome-ask-button" onclick="window.open('ask', '_self')">داواکاری پێشکەشبکە</button>
			</div>
		</div>
	</div>

	<div class="services-div">

		<div class="services-header-texts">
			<h2 class="service-header">خزمەتگوزاریەکانمان</h2>
			<p class="description-text">جیاواز لە کۆمپانیا ڕکابەرەکانمان، ئێمە زۆرترین خزمەتگوزاری بە بەرزترین کوالێتی و کەمترین کات بەردەست ئەخەین، وە بێگومان ھەرزانترین نرخیش لای ئێمەیە.</p>
			<hr class="services-hr">	
		</div>

		<div class="all-service">
			<div class="a-service">
				<img class="icons" src="assets/icons/001-web.svg" />
				<p class="a-service-header">کۆمپیوتەر ئەپڵیکەیشن</p>
				<p class="a-service-description">کۆمپیوتەر ئەپڵیکەشن باشترینە بۆ کاری ئۆفیس و فرۆشتگاکانتان، تاکو کاری بەشداربووەکانتان بەخێرایی و بەبێ کێشە بەڕێ بکەن.</p>
			</div>

			<div class="a-service">
				<img class="icons" src="assets/icons/002-mobile-app.svg" />
				<p class="a-service-header">موبایل ئەپڵیکەیشن</p>
				<p class="a-service-description">تاکو بەشداربووەکنتان ھەمیشە ئاگاداری بەرھەم و کار و چالاکیەکانتان بن، پێویستت بە موبایل ئەپڵیکەیشن ئەبێت.</p>
			</div>

			<div class="a-service">
				<img class="icons" src="assets/icons/003-website.svg" />
				<p class="a-service-header">وێبسایت و وێب ئەپڵیکەیشن</p>
				<p class="a-service-description">ئەکرێت وەک جێگرەوەیەکی سادەتر بۆ موبایل ئەپڵیکەیشن و کۆمپیوتەر ئەپڵیکەیشن بەکاربھێنرێت، تاکو تێچووی کەمتری ھەبێت و فێربوونی ئاسان بێت.</p>
			</div>

			<div class="a-service">
				<img class="icons" src="assets/icons/004-search.svg" />
				<p class="a-service-header">پشکنین و دابینکردنی ئاسایش</p>
				<p class="a-service-description">تاکو ئاڵوگۆڕە بازرگانیەکان و زانیاری خۆتان و کڕیارەکانتان بە پارێزراوی بمێنێتەوە، ئێمە ئاسایش بۆ نەرمەکاڵاکانتان دابین ئەکەین.</p>
			</div>
		</div>
	</div>

	<div class="reviews-div">
		<h1 class="reviews-header">شاھێدی کارەکانمان</h1>
		<hr class="reviews-hr">
		<p  class="reviews-text">سڵاو، من ناوم (محمد)ـە، ویستم لە ڕێگەی موبایل ئەپڵیکەیشنەوە داھاتێکم دەستبکەوێت، کارەکانم سپارد بە ڕەگەکۆد بۆ دروستکردنی بازاڕێکی سەرھێڵ، لە ئێستادا خاوەنی بەرنامەیەکی خێرا و ڕووکار جوان و پارێزراوم، ھەموو ئاڵوگۆڕەکان بە پارێزراوی بەڕێوە ئەچن.</p>
		<p  class="reviews-author">- محمد ئازاد -</p>
		<hr class="reviews-hr hr-divider">
		<p  class="reviews-text">سڵاو، کاری من دروستکردنی کەلوپەلی دەستکردی ئافرەتانە، پێگەیەکم پێویست بوو تاکو کارەکانمی لێ نمایش بکەم، بۆ ئەوەش وێبسایتم ھەڵبژارد، پێش دوو ھەفتە کاری دروستکردنەکەم بە ڕەگەکۆد سپارد، لە ئێستادا دەستمکردووە بە بڵاوکردنەوەی کارەکانم، سوپاس ڕەگەکۆد.</p>
		<p  class="reviews-author">- گەشبین عەلی -</p>
		<hr class="reviews-hr hr-divider">
		<p  class="reviews-text">سڵاو، من ئاریم، خاوەنی ھەفتەبازاڕێکی گەورەم لە شاری سلێمانی، پێویستم بە سیستەمێکی گەورەبوو کە یارمەتیم بدات لە فرۆشتنی کاڵاکانم بە ئۆنڵاین لەسەر ھەموو ئامێرەکان، وە پێویستم بە کۆمپیتەر ئەڵیکەیشنێک بوو کە زانیاریەکانم لە یەک شوێن بۆ کۆبکاتەوە، وە پێویستبوو تەواوی سیستەمەکە پارێزراوبێت، بۆ ئەم کارەش ڕەگەکۆدم بە باشترین زانی، بە سوپاسەوە لە ئاستی پێشبینیەکانمدابوون، بەھۆی وەرگرتنی تەواوی خزمەتگوزاریەکانیان، داشکاندنیان بۆ کردم بە ڕێژەی دە لە سەد، دووبارە سوپاس.</p>
		<p  class="reviews-author">- ئاری کەلھوڕی -</p>
	</div>
	
	<div class="learn-more-div">
		<h1 class="learn-header">زیاتر بزانە</h1>
		<p class="learn-text">بۆ ئاگاداربوون لە تەواوی کار و چالاکی و  ئۆفەرەکانمان، ئەتوانیت بە نامەبەری ئەلکترۆنی شوێنکەوتوومان بیت</p>
		<hr class="learn-hr">
		<input class="learn-input" type="email" name="email" placeholder="نامەبەری ئەلکترۆنی (ئیمێڵ)">
		<button class="learn-button">ئاگادارمبکەوە</button>
	</div>
</body>
<script src="scripts/main.js"></script>
</html>